
/* Fonts */

.nunito {
    font-family: 'Nunito', sans-serif;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}

.salsa {
    font-family: 'Salsa', cursive;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

/* Containers */

.title-container {
    display: flex;
    flex-direction: row;
    background-color: plum;
    color: #112A46;
    margin-bottom: 10px;
    gap: 5px
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    background-color: plum;
    margin-top: 10px;
    gap: 5px
}

.item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    margin-left: 20px;
}

#dog-logo {
    height: 60px;
    border-radius: 50%;
}

.intro {
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Nunito', sans-serif;
    color: #112A46;
}

.foxy {
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-content: flex-start;
    font-family: 'Nunito', sans-serif;
    color: #112A46;
}

.pepper {
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
    color: #112A46;
}

.sparky {
    margin-left: 20px;
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
    color: #112A46;
}

.foxy-link {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.pepper-link {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.sparky-link {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    background-color: plum;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: plum;
    gap: 10px;
    height: 200px;
}

.photo {
    height: 100px;
}

.photo-text {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    color: #112A46;
}
